// Breakpoints
$large-breakpoint: 1024px;
$medium-breakpoint: 768px;

//vars
$white: #fff;
$red: #e21e25;
$dark-grey: #333;
$light-grey: #e3e3e3;
$text-grey: #666;
$text-light-grey: #999;

//font
$open-sans: 'Open Sans', sans-serif;